[2011-06-03 12:35] ghost opened #13 "Nemerle.n"
class Hello  {
    static Main () : void {
        System.Console.WriteLine ("Hello world!");
    }
}

[2011-06-03 12:43] #13 closed, assigned to nobody

[2011-07-24 03:51] ironmagma opened #17 "Homespring"
I heard about homespring, a language which describes the flow of rivers. This would be an interesting language to support.

[2011-07-26 08:09] kongr45gpen opened #19 "PHP echo"
In PHP, use `echo 'Hello World'` instead of `print("Hello World")`. Echo is faster.

[2011-08-09 16:10] #17 closed, assigned to nobody

[2012-04-30 00:55] philipp-spiess opened #60 "m0ar :>"
If you aim to make the list complete, you shall have a look at [this one](http://digg.com/newsbar/topnews/The_Hello_World_Program_in_366_Programming_Languages).

 To be honest, I'm to lazy to file this into a pull request, sorry ;(

[2012-08-03 13:31] dermariusz opened #85 "Move Repo to project-lang"
I created an organisation for the repo called [project-lang](https://github.com/project-lang). I created it because the creator of the repo don't seem merge anything (see repo description). So please send your pull request to project lang.
Thanks,
Mariusz Wojcik

[2012-11-25 04:01] torta88 opened #93 "VB script?"

[2012-12-11 12:37] tuankiet65 opened #95 "Change Pascal extension"
The Pascal code at [here](https://github.com/leachim6/hello-world/tree/master/p) shoult be changed from *.p to *.pas

[2014-06-20 05:55] #85 closed, assigned to nobody

[2014-08-18 03:02] #19 closed, assigned to nobody

[2014-08-18 03:02] #60 closed, assigned to nobody

[2014-08-18 03:02] #93 closed, assigned to nobody

[2014-08-18 03:02] #95 closed, assigned to nobody

[2014-11-28 13:25] chaosink opened #158 "Don't you think that the hello-world is too simple?"
I think hello-world is too simple which can't show the main differences between languages. At least a loop and a conditional statement should be presented which are important parts in all languages.

Do you want add something new? Or create a new repository?

[2015-01-08 21:48] javathunderman commented on #158
@leachim6 What do you think about an Android hello world? Or is that more akin to Java?

[2015-01-13 15:57] racaljk commented on #158
but the original intention of the project is  to show HELLOWORLD

[2015-01-13 16:22] JinweiClarkChao commented on #158
@racaljk You are right. But now we can do something more interesting than HelloWorld, like I have mentioned above, something like calculating from 1 to a billion in different languages and calculating the time they need.

[2015-01-13 18:49] rdebath commented on #158
If you're looking for something more complex the traditional one is this:
http://rosettacode.org/wiki/Execute_Brain****

Either interpret directly or convert from BF to the language in question.

[2015-01-14 02:58] JinweiClarkChao commented on #158
@rdebath It looks interesting.

[2015-02-17 13:54] jannickfahlbusch commented on #158
All languages could calculate the first 100 prime numbers, or calculate the faculty of 100.

Definitively, it should be a task that shows the advantages (or disadvantages) of the language.
Maybe everey language should get two tasks to solve.

[2015-02-20 03:39] RhysBower commented on #158
One idea that I had was a string manipulation program that takes an array of names and your return them capitalized and reversed.  This would demonstrate variables, strings, arrays, looping and perhaps some other features of a language that would be nice to showcase.

[2015-04-09 07:21] zenware commented on #158
[I just started something similar with the FizzBuzz problem](https://github.com/zenware/FizzBuzz), I'm not sure if it hits the right balance of triviality / language features used. But here it is anyways...

Maybe the [README](hello-world/README.md) in this project could be used to link to "x problem in every programming language" repositories.

I have faith that some day someone will find a reaso

[2015-04-09 17:46] rdebath commented on #158
:open_mouth:  _EVERY_ language? ... [there are **a lot** of languages](http://people.ku.edu/~nkinners/LangList/Extras/langlist.htm) and some of them have enough trouble with 'Hello World!'

[2015-04-12 17:26] leachim6 commented on #158
@rdebath, as I said before, it's a great idea, but it's outside the scope of this particular project.

[2015-04-15 03:48] leachim6 commented on #158
@zenware I'd love to lend a hand on that project, if you'd have me of course.

[2015-04-15 04:29] zenware commented on #158
@leachim6 Sure, you probably know more than me anyways :P yours project is the inspiration after all...

[2015-05-03 05:49] leachim6 commented on #158
I really like the input I'm getting on this project, I now have a lot more free time to manage it thanks to the fact that I'm returning to school to finish my degree. If anyone has any other issues please let open one up and let me and the other contributors know! Thanks!

[2015-07-13 07:27] Alhadis opened #199 "Incorrect APL declaration"
Hey there,

Correct me if I'm wrong, but shouldn't the contents of `a/apl.apl` be this...?
[code]

Because it's currently using ASCII characters (`[]<-`) instead of the correct symbols.

[2015-07-13 10:31] Alhadis commented on #199
Never mind, just submitted my [first pull request](https://github.com/leachim6/hello-world/pull/200). :D Yay.

[2015-07-13 10:31] #199 closed

[2015-07-15 08:48] Alhadis commented on #158
Being Australian, I always found "Hello, world" too American.

So I prefer settling for a proper Aussie "G'day, cunt" instead. =)

[2015-08-31 07:46] GeorgeGibson commented on #158
@rdebath There is a language called Hello World. You cannot write a Hello World program in it.

[2015-09-01 07:42] rdebath commented on #158
There are quite a few languages ([eg](http://esolangs.org/wiki/Deadfish) [eg](http://esolangs.org/wiki/Bitwise_Cyclic_Tag) [eg](http://esolangs.org/wiki/Unary)) that HW is impossible. If you translate the output or read the final memory to substitute for output some of them give you one but for some Turing complete languages the Hello World program is too large to fit in this universe.

I can't fi

[2015-09-02 17:16] GeorgeGibson commented on #158
@rdebath The HW compiler is still under development. It has an Esolangs article [here](https://esolangs.org/wiki/HelloWorld).

[2015-09-18 01:02] leachim6 commented on #158
Great feedback you guys, keep it comin'!

[2016-04-01 13:16] Nikitaw99 commented on #158
So um... There are 2 PRs awaiting to be read.
#258
#259

[2016-04-15 19:37] petersobolev commented on #158
For assembler implementations simplicity of Hello World depends on platform (for example, see my 6809 (Vectrex) and TMS9900 (TI-99/4a) entries. So, it is useful project, keep it running.

[2016-04-17 19:16] hintss opened #262 "Why is there both a brainf-ck.bf and a brainf_ck.bf?"
and both with essentially the same content, mind you

[2016-04-17 19:56] leachim6 commented on #262
I had erroneously merged these semi-duplicate changes. I appreciate your hawk eyes on this issue.
Since all 3 files were literally identical, I opted the keep the oldest change (~4 yrs) and removed the other 2. Thanks for contributing!

[2016-04-17 19:56] #262 closed

[2016-04-17 21:21] petersobolev opened #263 "Please move file"
It seems that
https://github.com/leachim6/hello-world/blob/master/assembler_tms9900_ti99_4a.asm should be in a/  as
https://github.com/leachim6/hello-world/blob/master/a/assembler_tms9900_ti99_4a.asm

(perhaps my mistake)

[2016-04-17 21:23] leachim6 commented on #263
Thanks for catching that peter! I have fixed this issue.
Thanks for your contribution

[2016-04-17 21:23] #263 closed

[2016-05-20 12:14] trans opened #271 "Lisp working?"
Not sure the lisp code actually does anything. -- It just defines a function to do something but never does it. I am not a Lisp expert but I imagine the function is unnecessary and the innards of it are all that is needed do the work.

[2016-05-20 12:30] sscarduzio opened #274 "HTML is not a programming language"
HTML is a markup language, you should remove HTML.

[2016-05-20 13:26] afaqurk commented on #274
In that vain, neither is JSON, XML, SVG, etc. So either the project removes all of those as well or we simply accept that the project has gone beyond "programming languages".

I vote for the latter. I don't think removing those document markup formats adds any value besides some OCD satisfaction.

[2016-05-20 13:45] nwoodthorpe opened #287 "Ubercode never prints hello world"
https://github.com/leachim6/hello-world/blob/master/u/Ubercode.cls

[2016-05-20 14:05] stuaxo opened #291 "elm ?"
Couldn't see elm-lang under E.

[2016-05-20 14:07] flip111 opened #293 "Metrics"
Just for the fun of it it would be nice to have some metrics .. like the smallest hello world, biggest hello world (filesize). Maybe LOC.

[2016-05-20 14:31] aloisdg commented on #158
By the way, to you know [Rosetta code](http://rosettacode.org/wiki/Rosetta_Code)?

[2016-05-20 16:56] rdebath commented on #274
Hello World is not a test of a language it's a test of the language environment, ie: this "hello world!" thing is supposed to give the usual results, if it doesn't the environment is still incomplete/broken.

With that rule anything you can reasonably do an "environment test" for would be okay.

[2016-05-21 02:02] a86c6f7964 opened #316 "add a way to run all of these examples"
maybe a docker container for each?

[2016-05-21 06:30] monomaniar opened #317 "Can have every language a short introduction?"
At least show the homepage. I saw too many language never heard.

[2016-05-23 12:08] gaoxinge opened #331 "can we add docker version hello world"
Can we add docker version hello world, like this

[code]

[2016-05-23 12:45] IuryAlves commented on #331
Docker is not a language .-.

[2016-05-23 16:17] deanturpin commented on #316
Nice idea.

[2016-05-23 16:18] deanturpin commented on #274
I vote for keeping everything too!

[2016-05-24 04:25] DrGodCarl commented on #271
The PR is newly opened for this issue:
https://github.com/leachim6/hello-world/pull/335

[2016-05-25 20:46] p4elkin opened #339 "Whitespace example does not seem to be correct"
According to the wiki Whitespace lang syntax is supposed to support only tabs and spaces. However, the example provided looks more like some assembler code, is that right? <just pure curiosity>

[2016-05-25 23:06] rdebath commented on #339
It works perfectly.

[2016-05-26 08:14] #331 closed

[2016-05-31 06:58] leachim6 commented on #317
Typically there's a link to the more esoteric languages in the commit message, I can't think if an elegant way to do this besides revising every single language in the project with comments inside the code linking to the webpage.

[2016-05-31 08:56] monomaniar commented on #317
@leachim6 maybe show the homepage address in the comment. So every program language should at least support comment? Ｏ（∩——∩）Ｏ～

[2016-05-31 08:57] monomaniar commented on #317
@leachim6 I think the language should at least support comment to be showed in this project.YY

[2016-05-31 20:29] phase commented on #339
Those are comments. They're telling you what the whitespace on each line is doing. Just highlight the code and you'll see it.

[2016-06-01 08:35] #339 closed

[2016-06-01 08:35] p4elkin commented on #339
roger, thanks for clarification! Closed this one

[2016-06-05 15:27] nloveladyallen opened #344 "Consistency"
Some examples print `Hello World`, others `hello world`, others `Hello, world!`, etc. Go even prints `Hello, 世界` (which Google Translate tells me means "world"). I feel like the examples should be made more consistent by standardizing the exact message. I suggest `hello, world` because that is how it was printed in the earliest know [example](https://www.bell-labs.com/usr/dmr/www/btut.html) (scrol

[2016-06-08 14:18] Alhadis commented on #274
Should probably reword "programming language" to just "computer language", then. Because this is misleading:
<img width="341" alt="screen shot 2016-06-09 at 12 15 00 am" src="https://cloud.githubusercontent.com/assets/2346707/15897369/8d53fe24-2dd7-11e6-863b-41581c8c2f89.png">

[2016-06-08 16:49] Alhadis commented on #344
Feel free to submit a pull-request updating all 432 samples, then.

[2016-07-12 03:23] CubeFromSpace commented on #274
Idk, i saw all of this, very impressive by the way, but technically, HTML and other online stuff is still programming, as everything came from one guy's invention, binary. I think these versions of Hello World should stay. Yes, i am a random guy, and yes, i have no control over this.

[2016-07-12 03:24] CubeFromSpace commented on #274
Yes, i do vote for keeping it all.

[2016-07-12 03:30] Alhadis commented on #274
![good-story-laff](https://cloud.githubusercontent.com/assets/2346707/16754302/a25d2a9e-4834-11e6-851b-c5b5a409c728.png)

I love this repo.

[2016-07-12 04:10] CubeFromSpace commented on #274
Edit: i looked it up on wikipedia, the guy who invented it was named Gottfried Leibniz. He was french.
Edit 2: I also saw on wikipedia that there are literally over 2,000 coding languages!! Sorry for the lack of capital letters.
Edit 3: time to Fork and Edit!! Yay!! Maybe tomorrow.

[2016-07-12 04:13] Alhadis commented on #274
Warning: Poe's Law strictly enforced.

[2016-07-12 04:19] Alhadis commented on #274
Tolkien invented binary, actually. The Binary programming language was based off his research of old Gaelic languages, and the language actually had 16 letters, not two (which is the origin of hexadecimal). However, the Americans decided to bastardise and grossly oversimplify the language, cutting it down to two. He died before the spec for the language could be completed, leaving his family and a

[2016-07-21 16:08] leachim6 commented on #274
Hey guys, I'm sorry I've been lax in processing pull requests, I plan on reviewing and merging all of the ones in my queue this weekend. Hack the planet!

[2016-07-21 16:10] leachim6 commented on #344
Hello World is really just an easy to use boilerplate string. The entire point of the project is to get the programming language to print a string, what the string contains is not really that relevant.

[2016-07-21 16:10] #344 closed

[2016-08-25 02:53] vdun commented on #316
or create a folder named 'test' where it contains a test/run for each file and have a CI (travis, ...) for testing.

[2016-09-09 16:09] havanagrawal opened #356 "Add a list of all the programming languages in your README.md"
From the point of view of a contributor, it's pretty tedious to check every directory and see if you've missed a language.

Instead, the README could maintain a list of all the languages already covered (which could in turn be links to the actual files). That way, I only have to do a Ctrl + F to check for a language.

Glad to make a PR for this, if you feel this is a valid need.

[2016-10-16 15:44] sanspace commented on #356
This is indeed valid and useful for everyone not only the contributors. Please add it.

[2016-11-02 02:00] Qix- commented on #274
Nope, not even a little. HTML is a markup language - a data interchange format, if you will. Same with JSON. Same with SVG. Same with YAML. And so on.

They are not programming languages. They are used to convey and represent structured information. They do not (by themselves) run instructions or perform logic (even though, in some cases, they could be (ab)used to do so, such as with CSS).

---

O

[2017-02-04 06:30] leachim6 commented on #356
I am currently working on implementing this.

Thanks for your input

[2017-02-04 06:32] leachim6 commented on #316
implemting CI on this is a great idea and I'm working on this

[2017-02-13 00:21] RikerW commented on #271
It's been merged, somebody close this please?

[2017-02-13 19:37] thatHexa commented on #356
I already took care of that :)
Take a look at [commit 510f849a54ccfddedc30106639765b7a4b7e618b](https://github.com/leachim6/hello-world/commit/510f849a54ccfddedc30106639765b7a4b7e618b) and [pull request 381](https://github.com/leachim6/hello-world/pull/381).

[2017-02-15 16:42] #271 closed

[2017-02-15 16:52] leachim6 commented on #316
*BUMP*
Does anyone have any ideas how we would build out something like this? The problem here is that there isn't a single OS that will run every single one of these examples. I have several servers I could host an application like this on, but I wouldn't even know where to start.

[2017-02-15 18:15] RikerW commented on #287
It does actually. `main` is run by default. The code is fine as-is.

[2017-02-15 18:37] RikerW commented on #291
[here you go](https://github.com/leachim6/hello-world/pull/384)

[2017-02-16 13:32] stuaxo commented on #291
Awesome, hopefully will get merged soon :)

[2017-02-19 15:37] leachim6 commented on #287
Thank you both for your contributions

[2017-02-19 15:37] #287 closed

[2017-02-19 15:39] leachim6 commented on #291
https://github.com/leachim6/hello-world/commit/a0ca8f90f1da247138c279d5d71472f5f2031024

[2017-02-19 15:39] #291 closed

[2017-02-19 15:41] leachim6 commented on #356
We are working towards a resolution on this thanks to @thatHexa and their continuous improvements. I'm going to keep this issue open to document progress on this.

Thanks everyone

[2017-02-19 15:42] leachim6 commented on #317
We can potentially merge this issue with https://github.com/leachim6/hello-world/issues/356

What do you think?

[2017-02-19 15:43] leachim6 commented on #293
If someone wants to write a script for this to be executed and posted into the readme at each commit like the list_languages script @thatHexa wrote that would be awesome

[2017-02-19 15:44] thatHexa commented on #293
On Sun, 19 Feb 2017 at 17:43 Mike Donaghy <notifications@github.com> wrote:

Got that under control ;)

[2017-02-19 17:49] thatHexa commented on #356
The listed languages are now links to the actual files. Now I'm bored again ;)
[Here's the commit.](https://github.com/leachim6/hello-world/pull/387/commits/292823b6948e82053188fe569c3a5343c2a0e605)

[2017-02-24 12:35] Wusuluren opened #389 "golang version"
package main

func main() {
    println("hello,world")
}

[2017-02-26 05:25] #389 closed

[2017-03-01 09:31] thatHexa commented on #316
So it also turns out not all of these languages actually have compilers/interpreters (damn you, awesome esolangs!). Which makes sense, maybe someone just wanted to make a proof of concept but didn't want to go through the complication of writing a way to actually execute it. Or maybe it's just stupid ol' me who hasn't found a BIT compiler :P

Either way, I guess the problem still remains... I am p

[2017-03-12 07:16] leachim6 commented on #356
Sorry for the delay, this update is awesome @thatHexa, clean script too I'm going to go ahead and close this one out now and keep moving on #317 and #316

[2017-03-12 07:16] #356 closed

[2017-03-14 14:38] #158 closed

[2017-03-14 14:43] sscarduzio commented on #274
@leachim6 do you second what @Alhadis said about rewording "programming language" with "computer language"? This change will change a lot, for example I could stop washing my hands compulsively every time I think of this issue.

PS: JK, ::opens a new bag of pop corn::

[2017-03-14 20:14] CubeFromSpace commented on #274
Now I feel stupid for saying that all those months ago XD

[2017-03-14 20:29] sscarduzio commented on #274
Let's all promise we come back to this thread when we're drunk.

[2017-03-14 20:31] Alhadis commented on #274
I don't drink, I just go 40-something hours without sleep and let endorphins do the rest.

[2017-03-15 01:24] CubeFromSpace commented on #274
(I'm not old enough)

[2017-03-15 08:37] leachim6 commented on #274
Now I can never close this issue ! Thanks a lot you guys :P

[2017-03-15 08:53] Alhadis commented on #274
I was hoping for a lock, but I found something quicker instead:

<img src="https://cloud.githubusercontent.com/assets/2346707/23940424/f0014b72-09b8-11e7-9e67-9788405baef3.png" alt="kek" />

[2017-03-15 15:44] leachim6 commented on #274
@Alhadis owch, my soul :/

[2017-03-15 15:48] Alhadis commented on #274
I meant \*I\* was being retarded, ya silly muppet. :p

[2017-03-18 01:00] thatHexa commented on #274
This thread... I can't even.
When GitHub turns into reddit 😂

[2017-03-18 07:06] leachim6 commented on #274
This project was started for fun, I'd say mission accomplished!

[2017-03-18 08:03] sscarduzio commented on #274
Yeah looks like reddit. But where are the cats?

[2017-03-18 14:48] CubeFromSpace commented on #274
Cats are everywhere. Literally in almost every country. XD

[2017-03-18 19:18] thatHexa commented on #274
Here we have octopuses. Even better.

[2017-03-20 10:30] leachim6 commented on #274
I'm not even mad, this is awesome

[2017-03-20 13:25] CubeFromSpace commented on #274
This might as well be the best issue thread I've ever seen

[2017-03-20 17:55] leachim6 commented on #274
Phew, on that note, just committed the last pending pull request, my queue is now empty! Keep 'em coming folks!

[2017-03-21 01:06] CubeFromSpace commented on #274
Not only that, this may be the best repository ever. I love how there's hilarious joke programming languages, like chicken and chef.

[2017-03-21 08:37] rdebath opened #395 "List langs.py doesn't work"
Unless you're a Python junkie.
It uses structures only available in Python 3.6 released December 2016.
Normal users may be using "LTS" versions that can easily be two years old (python 3.4).
The oldest _currently supported_ Linux LTS versions are of at least 2012 vintage (Python 3.2)

[2017-03-21 09:12] leachim6 commented on #395
Through the power of the internet, @thatHexa I summon thee!

[2017-03-28 14:21] #395 closed

[2017-05-27 20:18] thatHexa commented on #293
I'll start working on that ass soon as I have the time. Great to be back to working on this project again!

[2017-05-27 20:28] thatHexa commented on #274
Soooo what's the sentence? Should we change the description to say "computer languages"?
The idea is great but I think we should find a better term..

[2017-05-28 11:00] leachim6 commented on #274
The current description says "computer languages" but if you can think of something better I'd love to hear it

[2017-05-28 11:01] leachim6 commented on #293
Thanks for all of your contributions @thatHexa

[2017-06-24 02:23] JimmyByte opened #412 ""nimrod" is formerly nimrod, now nim"
I'm sure the nim people would like it if the correct current name was used.

[2017-06-29 18:19] ElfQrin opened #413 "License"
Are the files released under any license (for example, GPL)? I couldn't find anything about it in README.md or CONTRIBUTING.md

[2017-06-30 10:59] leachim6 commented on #413
The implications of this question are interesting and I am currently looking into the best answer.
Thanks for bringing this to my attention

[2017-07-06 11:16] george-chakhidze opened #416 "Write-Output is superfluous in PowerShell"
Default behavior of PowerShell is to send any objects at end of pipeline to output. You dont need to explicitly call Write-Output cmdlet.

[2017-07-11 07:18] leachim6 commented on #416
Thanks for your insight George, please send a pull request with the fix and I will merge it.

Thanks!

[2017-07-24 18:09] #416 closed

[2017-09-07 22:28] vsoch opened #427 "Why does pascal have a readline?"
I'm going through the examples, and for most the standard is to print some version of hello world (note there are differences in what is printed too) and exit. For the pascal script:

https://github.com/leachim6/hello-world/blob/master/p/pascal.p

A readline was added, meaning that the user needs to press enter before exiting. Was there a reason for this?

[2017-09-18 13:57] guerrieroi commented on #427
Old style programmers use it when the program writes on the console. If it is omitted, when you run the program from a IDE, the console will be closed immediately after the end of the program and you will not be able to see the text output. Usually, when the program is deployed in a production environment, the pause will be removed.

You can see also the [batch file](https://github.com/leachim6/he

[2017-10-02 08:52] leachim6 commented on #427
I'm not super familiar with conventions with Pascal. However, the general idea is to  have the simplest program that prints "Hello World" and quits. Please feel free to contribute an update and I will merge it in.

Thanks!

[2017-10-02 09:06] guerrieroi commented on #427
Adding **readline** at the end of a console application is a way to stop the program until the user read the output and hit a key on the keyboard to go on. It was used with old IDE like Turbo Pascal.

There is another example where is used the statement **pause** to wait until the user hit any key: [batch script](https://github.com/leachim6/hello-world/blob/master/b/batch.bat)

[2017-11-05 17:50] Potherca commented on #274
How about "Programming, markup and other computer languages"? That way you've got everything covered except natural/human languages.

[2017-11-05 18:03] Potherca commented on #316
I might be speaking out of turn here, but I would _strongly_ suggest creating a separate repository to get this started. It could always be merged back into this repo when it is stable but until it is, you're going to end up with a lot of non-hello-world related discussions and PR's.

As far as infrastructure goes, one container per language seems most sensible. If a container can not be created f

[2017-11-08 17:04] sscarduzio commented on #274
`<nitpicking>`
 "computer languages" doesn't mean anything. Programming languages are a subset of formal languages which happen to be particularly suited to perform computations.

Now, there is no way Markdown, HTML, JSON, CSS are programming languages.
`</nitpicking>`

`<paternalising>`
If you want to include Markdown, HTML, JSON, CSS into this cauldron, the common denominator looks like "languag

[2017-11-08 19:05] Potherca commented on #274
Well... https://en.wikipedia.org/wiki/Computer_language seems to disagree with your nitpick.

It also neatly list all of the _other_ languages besides programming language that might show up, including stylesheet languages, query languages and, yes, markup languages.

[2017-11-22 08:56] rdebath commented on #427
No language I've ever come across has the "convention" that you have to add a "Don't exit until a user hits you" statement at the end.

Specifically:

1. Batch scripts are supposed to be run from a command line where that final statement is just an annoyance.
2. An IDE is supposed to work much like the oldest ones of all when running command line programs. For example, Vi pauses (with a press retu

[2017-12-13 01:37] tsboston opened #441 "Dont know how to convert to read"
https://drive.google.com/file/d/0B2TEBfXOSb83Z0FHTTB0QndaWlU/view?usp=drivesdk

[2017-12-13 07:52] rdebath commented on #441
Can't see it; says something about not having permission.

[2017-12-13 15:08] #441 closed

[2018-03-18 09:56] leachim6 commented on #413
Seems like the MIT license would be the most compatible with the licenses of all of the programming languages in a broad project like this

[2018-04-26 17:21] jrg94 opened #454 "Smalltalk Naming Conventions Issue"
Hey, I was just poking around the repo, and I noticed that the following files exist:

- [smalltalk.sm](https://github.com/leachim6/hello-world/blob/master/s/smalltalk.sm)
- [hello.st](https://github.com/leachim6/hello-world/blob/master/s/hello.st)

The first file seems fine, at least according to [The Hello World Collection](https://helloworldcollection.github.io/#Smalltalk%C2%A0(simple)).

Howev

[2018-05-06 07:57] leachim6 commented on #454
I am researching the best way forward on this. Great find, thanks for your contribution!

[2018-05-18 14:33] moonheart08 opened #456 "Add a DreamMaker Language example"
byond.com
:)

[2018-06-16 16:52] gfairchild commented on #317
I like the idea of linking to either [Esolang](Esolang) or Wikipedia for each language on the readme. Esolang's entries are often quite nice. For example, check out https://esolangs.org/wiki/Brainfuck and https://esolangs.org/wiki/Labyrinth.

[2018-06-26 09:14] lblblong opened #465 "please add in 易语言"
调试输出( “Hello World" )

[2018-06-29 22:29] canpaisheji commented on #465
( “Hello World" )

[2018-08-13 07:06] NYfor2017 commented on #317
How about show the short introduction of every language in "wiki" page ?

[2018-08-23 15:40] yxfzdnbc commented on #465
看了一圈没看到易语言,来这里果然看到了

[2018-08-25 13:10] PhoenixZeng commented on #465
yes. a chinese program language.

[2018-08-25 13:10] PhoenixZeng commented on #465
所以 我们为啥不直接提pr

[2018-08-25 22:07] Beyarz commented on #465
What's the name of it?

[2018-08-26 02:05] lblblong commented on #465
@Beyarz It is a Chinese programming language that is very friendly to Chinese people who are not good at English, such as me~

[2018-08-26 02:06] lblblong commented on #465
@PhoenixZeng 突然想到没有 哈哈哈

[2018-08-27 03:38] PhoenixZeng commented on #465
i think use the "易语言" as the name is better then named ELP in this peoject.  it should be put in the "y" dir.
But I think some people may not be able to display normally.

[2018-09-22 08:43] haqqer commented on #274
Hyper Text Markup Language (HTML) >>> Language <<< Bro

[2018-09-24 15:46] azkarmoulana commented on #274
I vote for keeping everything

[2018-09-24 15:58] sscarduzio commented on #274
@haqqer also french is a language, the major issue here is that it's not a **programming** language.
🐸 BRO!

[2018-09-27 18:50] iAhsanJaved commented on #274
I vote for keeping everything. 👍

[2018-09-27 18:56] sscarduzio commented on #274
You could, but it would be incorrect

[2018-11-07 00:49] exellian opened #571 "GLSL and HLSL Missing"
you could write a fragment shader that outputs hello world on screen!

[2018-11-20 15:52] JaxBen98 opened #574 "All links in the README in the a folder "a" are broken."
An example, clicking Argh in the README in /a brings you to https://github.com/leachim6/hello-world/blob/master/a/a%5Cargh.agh, a 404.

[2018-11-26 04:48] Freakwill commented on #465
and “丙正正” which means c++ but is not c++

[2018-11-26 04:51] Freakwill opened #577 "Please add `Cobra`"
Please add `Cobra`, which is sibling language of `Python`.

[2018-12-20 00:57] zmiles17 commented on #574
I created a pull request for this issue. https://github.com/leachim6/hello-world/pull/588

[2018-12-31 23:36] paulo9mv commented on #574
Aparently this README.md file was wrongly merged, since there is no reason for its existence on that particular folder. @leachim6 is it correct?

[2018-12-31 23:50] paulo9mv commented on #574
Aparently this README.md file was wrongly merged. @leachim6 is it correct?

[2019-01-14 00:38] Jacob-Tuxworth commented on #577
#594 Here you go

[2019-01-14 13:41] #577 closed

[2019-03-19 11:36] ThexXTURBOXx commented on #274
![grafik](https://user-images.githubusercontent.com/12763829/54602992-7eac5c00-4a43-11e9-8737-dbf560396444.png)
Imo, that is correct now, as that is, what I learned at my university, too (HTML is a Markup Language, which is a subtype of Computer Languages)...

[2019-09-06 00:57] TangraM3 opened #625 "I'd like added Pauscal."
[code]

[2019-10-11 14:41] sandhyabhan opened #666 "I would like to add HELLO WORLD in c++"
I would like to add HELLO WORLD in c++

[2019-10-17 00:18] zacnomore commented on #666
Currently exists at `c/c++.cpp`

[2019-10-18 18:14] InvisibleRain opened #680 "Disable Wiki section"
Link to CONTRIBUTE.MD also doesn't work

[2019-11-08 21:58] seyfahni opened #707 "Simplify SQL?"
Why not simplify sql.sql to the following?
[code]

(This works with at least MySQL, MariaDB and PostgreSQL.)

[2019-11-25 12:31] nima143 opened #711 "circular binary segmentation"

[2019-12-15 19:11] yemfol commented on #680
SUGGESTED, (EASY-TO-LEARN) PROGRAMMING WEBSITES.

(1) https://www.w3schools.com/

(2) https://www.quackit.com/

(3) https://www.pluralsight.com/

Hi!

Listed above are some of the (easy-to-learn) programming language (reference websites) that I think everyone would find useful.

I will continue to update the list as soon as I come across such websites while browsing.

(https://github.com/yemfol/he

[2020-01-23 01:17] achavezGIT opened #718 "I would like share code in C#"
I would like share code in C#

[2020-02-04 07:56] H-J-Granger opened #719 "where's wenyan language?"
[github repo of wenyan language](/wenyan-lang/wenyan)

[code]

"問天地好在" meant "hello world" in ancient Chinese.

also,
[code]
can print "hello world!".

[2020-02-11 09:59] piyushya012 opened #723 "change "Programming languages" to "Computer languages" in README"
Change "the list contains hello world in every programming language" to "the list contains hello world in every computer language"

The list also contains Scripting languages, Hardware disctiption languages, Markup languages and much more not just programming languages.

[2020-02-17 16:19] UndyingSoul commented on #718
You can do a pull request to merge your code with this repo (if the language isn't already in). However, this repo is rarely updated, so there is very little chance it will be implemented soon. Don't forget to add your code to the readme file.

[2020-02-17 16:21] UndyingSoul commented on #625
You can do a pull request to implement your code (this is so you can be listed as a collaborator), don't forget to update the readme file. However, this repo is very inactive, if it gets accepted, it'll probably be a while.

[2020-03-18 20:17] exellian opened #729 "Trivial keyboard language"
Language described in natural language:
Press Shift + H
Press e
Press l
Press l
Press o
Press Space
Press Shift + W
Press o
Press r
Press l
Press d

[2020-03-21 15:45] srikar7777 commented on #729
line 3 it's "print e" :)

[2020-03-29 14:40] #625 closed

[2020-03-29 14:40] Richienb commented on #718
C# has already been completed.

[2020-03-29 14:40] #718 closed

[2020-03-29 14:43] #719 closed

[2020-03-29 14:43] Richienb commented on #666
This has already been completed.

[2020-03-29 14:43] #666 closed

[2020-03-29 14:44] Richienb commented on #413
They are released under MIT.

[2020-03-29 14:44] #413 closed

[2020-03-29 14:45] Richienb commented on #707
We're trying to insert Hello World, not search for it.

[2020-03-29 14:57] seyfahni commented on #707
Isn't a Hello World program supposed to print hello world?

The current code creates a table, inserts "Hello World!" and then selects it, thus printing the string.
My variant just selects it as a constannt, thus printing the string.

Though I have to agree that the current version better showcases the usual look of SQL code.

[2020-03-29 16:43] Richienb commented on #427
Same applied for batch.

[2020-03-29 16:58] Richienb commented on #574
Fixed!

[2020-03-29 16:58] #574 closed

[2020-03-29 18:17] Richienb commented on #707
@seyfahni Oh right. I thought `SELECT` only worked on pre-existing elements.

[2020-03-29 18:18] #707 closed

[2020-03-29 20:23] exellian commented on #729
yes sure i am german sry

[2020-03-30 09:26] idoo opened #731 "Hello world —> Hello home?"
Hello, I'm writing from 2020, currently, we have a problem called COVID-2019. The world health organization recommends staying at home as one of the recommended measures to prevent a pandemic of COVID-2019.

We, as developers could be part of the advocacy of this recommendation!

Let's have a `temporary current` branch `Hello Home` with changing `Hello world` text in snippets to `Hello home` invol

[2020-03-30 10:28] texteng opened #732 "Punch cards"
I know this is stretching things to their limits, but I punchcards aren't on here. I found a punchcard emulator. http://tyleregeto.com/article/punch-card-emulator

I guess we could save it with an image extension (ex: punchcard.png) . It seems like there are several variations of punch card languages which I don't have time to learn at the moment. I figured I would post the idea here for future re

[2020-03-30 15:22] rdebath commented on #731
Hello Sweden ...
I'd say talking, like this, and using voip, [messages](https://www.who.int/news-room/feature-stories/detail/who-health-alert-brings-covid-19-facts-to-billions-via-whatsapp) and everything is more important than ever.

[2020-03-31 15:27] Richienb commented on #731
Changing hundreds of examples to replace a word with another word is too big of a scale to be done. However, feel free to fork this repository and transform them yourselves.

[2020-03-31 15:27] #731 closed

[2020-03-31 15:28] Richienb commented on #465
Complete! https://github.com/leachim6/hello-world/blob/master/%23/%E6%98%93%E8%AF%AD%E8%A8%80.e

[2020-03-31 15:28] #465 closed

[2020-03-31 15:41] #456 closed

[2020-03-31 15:41] Richienb commented on #412
Already fixed!

[2020-03-31 15:41] #412 closed

[2020-03-31 15:42] #711 closed

[2020-03-31 16:05] #427 closed

[2020-03-31 16:53] Richienb commented on #680
@leachim6 We should probably disable the wiki part then.

[2020-03-31 16:55] #723 closed

[2020-03-31 16:55] #274 closed

[2020-03-31 17:05] piyushya012 commented on #723
Now that's good. No more "HTML is a markup language not programmimg language". Simple solution to Stupid issues.
+1:

[2020-04-01 08:53] simonewebdesign commented on #723
I bet the next issue is going to be something like "Languages are usually referred to as programming languages, not computer languages", this change will be reverted and the cycle will be complete.

[2020-04-01 09:44] piyushya012 commented on #723
No one will say that. All languages are categorised under Computer
Languages.

Its just that Programming languages is the frequently used term.

On Wed, 1 Apr, 2020, 2:24 PM Simone Vittori, <notifications@github.com>
wrote:

[2020-04-02 03:07] human-0 opened #733 "Missing languages"
Seed, bytebytejump, unreadable and bitbitjump are missing from the list.

[2020-04-03 14:32] Richienb commented on #733
We need a suitable Hello World example for Bytebytejump.

[2020-05-01 10:25] code2828 commented on #733
We also need a suitable Hello World for [Seed7](http://seed7.sourceforge.net/).

[2020-05-01 10:31] code2828 commented on #733
I have created a pull request . Please take a look at it (#744).

[2020-05-18 09:37] code2828 commented on #733
Found another one call "Dongbei" （东北）. See #748 .

[2020-05-18 10:18] code2828 commented on #571
Please open a pull request and close this issue, then add a comment in #733 which is a place just for missing languages.

[2020-05-18 10:25] code2828 commented on #733
I didn't see 8051 and E100 assembly in the README. Perhaps we should add them too? Note: I don't know how to write them, especially for E100, there is **barely any** documentation.

[2020-05-18 11:51] human-0 commented on #571
What about SPIR-V?

[2020-05-19 00:19] code2828 commented on #733
I'm currently working on [unreadable programming language](https://esolangs.org/wiki/Unreadable).

[2020-05-19 00:40] code2828 commented on #733
Unreadable and ZIIM added! Here: #750

[2020-06-25 08:53] JohnWesleyK commented on #729
Wow, this is just amazing!!! XD

[2020-07-06 12:29] realRyanZhang opened #762 "Remove non-computer languages at list"
That two languages sneaked into the list mark them as programming languages (文言 & 上海话).
Please remove them.

[2020-07-06 12:32] Richienb commented on #762
@gzhangdev What do they mean in English?

[2020-07-06 12:35] gzhangdev commented on #762
文言: Classical Chinese, also known as Literary Chinese is the language of the classic literature from the end of the Spring and Autumn period through to the end of the Han dynasty, a written form of Old Chinese

上海话: The Shanghainese language, also known as the Shanghai dialect.

References:
1. https://en.wikipedia.org/wiki/Classical_Chinese
2. https://en.wikipedia.org/wiki/Shanghainese

[2020-07-10 17:13] mravariya commented on #317
Can we add links it to Wikipedia or using APIs add small description with little background.

[2020-07-11 01:45] Richienb commented on #317
We can manually operate the language list in the readme, adding descriptions after listing each one.

[2020-07-13 03:38] guozhenduo opened #766 "Run"
How to run some unusual language?

[2020-07-13 03:45] #766 closed, assigned to nobody

[2020-07-13 03:52] Epictyphlosion commented on #733
ZScript would be a good addition, especially since ACS is already here

[2020-07-14 08:20] scientificworld commented on #762
Wenyan & Shanghai ARE programming languages.
wenyan: [https://github.com/wenyan-lang/wenyan](url)
shanghai: [https://github.com/cabuliwallah/shanghai-from-dongbei](url)

[2020-07-14 10:10] #762 closed

[2020-08-27 07:44] SaumitraVerma opened #787 "Missing languages list"
[This](https://en.wikipedia.org/wiki/List_of_programming_languages) link contains the list of all the programming languages.
I think many are missing in this repo.

[2020-08-27 07:46] Richienb commented on #787
PRs welcome!

[2020-08-28 14:19] Richienb commented on #454
Fixed in https://github.com/leachim6/hello-world/commit/dc75f068dc3674e378d5c27c707cd8e033e33c65#diff-561c42b5a19da8219cad15def2061935

[2020-08-28 14:19] #454 closed

[2020-08-28 14:19] Richienb opened #790 "Missing languages tracking issue"
The following languages are yet to be included:

- E100 Assembly
- A.NET
- A-0 System
- A+
- ABC ALGOL (extension of ABC)
- ACC
- Accent
- ACE DASL
- Action!
- Actor
- Adenine
- Agilent VEE
- Agora
- AIMMS
- Aldor
- Alef
- ALF
- ALGOL 58
- Alice
- Alma-0
- AmbientTalk
- AMPL
- Apache Pig latin
- App Inventor
- APT
- ARexx
- Argus
- Averest
- Axum
- Babbage
- Bertrand
- BLISS
- Blockly
- Boomerang

[2020-08-28 14:20] Richienb commented on #787
Moved to #790

[2020-08-28 14:20] #787 closed

[2020-08-28 14:20] Richienb commented on #733
Moved to #790.

[2020-08-28 14:20] #733 closed

[2020-08-28 14:21] Richienb commented on #571
Moved to #790.

[2020-08-28 14:21] #571 closed

[2020-08-30 10:46] siddharthnagu opened #792 "Hello world!!!"
Example-hello world!

[2020-08-30 10:50] Richienb commented on #792
Welcome to GitHub! You just created an issue on this repository (https://github.com/leachim6/hello-world). Here's [some more information](https://guides.github.com/features/issues/). I'll close this for now.

[2020-08-30 10:50] #792 closed

[2020-09-13 12:33] Explosion-Scratch commented on #790
You're missing Scratch 3.0.

[2020-09-14 09:30] Richienb commented on #790
@Explosion-Scratch Already completed: https://github.com/leachim6/hello-world/blob/master/s/scratch.sb3

[2020-09-24 06:20] gregnokia opened #799 "Batch existing 2 times"

[2020-10-01 01:21] Richienb commented on #799
This is because batch uses 2 file extensions, `.bat`, `.cmd`. However, other languages don't do this. I think we should just keep the `.cmd` one.

[2020-10-02 05:52] PeterNau commented on #732
Nice idea, but punch cards are a program storage and input medium, not a language.

[2020-10-03 12:31] Roshians opened #817 "Add `hacktoberfest` tag"

[2020-10-03 12:36] Richienb commented on #817
I can't add tags to the repository.

[2020-10-03 20:20] Richienb commented on #817
@leachim6 Can you add the `hacktoberfest` tag to this repository?

[2020-10-04 09:38] Kunal-Sharma228 commented on #817
I guess only the owner can do so. [Steps To Do So](https://hacktoberfest.digitalocean.com/hacktoberfest-update)

[2020-10-05 14:44] Kunal-Sharma228 commented on #817
Yeah, only repo owners or collaborators can add labels to issues unless it's a template

[2020-10-09 08:10] nithinkodadhavadee commented on #790
# A
- [ ] 8051 Assembly
- [ ] A.NET
- [ ] E100 Assembly
- [ ] A-0 System
- [ ] A+
- [ ] ABC ALGOL (extension of ABC)
- [ ] ACC
- [ ] Accent
- [ ] ACE DASL
- [ ] Action!
- [ ] Actor
- [ ] Adenine
- [ ] Agil ent VEE
- [ ] Agora
- [ ] AIMMS
- [ ] Aldor
- [ ] Alef
- [ ] ALF
- [ ] ALGOL 58
- [ ] Alice
- [ ] Alma-0
- [ ] AmbientTalk
- [ ] AMPL
- [ ] Apache Pig latin
- [ ] App Inventor
- [ ] APT
- [ ] AR

[2020-10-12 15:25] gregnokia commented on #799
Thank you, i only knows one of them.
________________________________
Von: Richie Bendall <notifications@github.com>
Gesendet: Donnerstag, 1. Oktober 2020 03:21
An: leachim6/hello-world <hello-world@noreply.github.com>
Cc: gregorilin <g.ilin@live.de>; Author <author@noreply.github.com>
Betreff: Re: [leachim6/hello-world] Batch existing 2 times (#799)

This is because batch uses 2 file extensions,

[2020-10-13 23:02] Toydotgame commented on #799
What about `Clipper`? There are three of those.

[2020-10-16 18:12] Kavyansh17 opened #844 "Hey"

[2020-10-16 23:14] Richienb commented on #844
Hey

[2020-10-16 23:14] #844 closed

[2020-10-25 03:26] jclc opened #857 "Issue with the Bash program"
The Bash script calls `echo`, which is part of GNU core utilities, not Bash itself. Calling an external program to demonstrate a language feature such as this is cheating.

[2020-10-25 03:27] Richienb commented on #857
How do you think it should be fixed?

[2020-10-25 03:32] jclc commented on #857
I don't believe Bash is capable of printing to standard output without the use of external programs, so it should be removed.

[2020-10-25 03:37] jclc commented on #857
Same goes for `fish`, actually. `zsh` can stay since it has echo built in.

[2020-10-25 03:41] jclc commented on #857
My bad. Apparently it is a builtin after all, despite `which` reporting otherwise. Only `zsh` correctly identified it as such.

[2020-10-25 03:41] #857 closed

[2020-11-03 07:44] sandeepksaini opened #862 "Adding detail steps in how to contribute in "CONTRIBUTING.md""
If we can add detailed steps required on how to contribute to this repository in "CONTRIBUTING.md".
I would like to contribute and add a language to this repo.

[2020-11-03 07:57] Richienb commented on #862
@sandeepksaini How should it be improved? https://github.com/leachim6/hello-world/blob/master/CONTRIBUTING.md

[2020-11-05 06:45] sandeepksaini commented on #862
I am a beginner to git and still learning. I would like to add a "hello-world" file into this repo so if contributions file have some steps would have helped me to make a commit to this repo.

[2020-11-05 06:46] Richienb commented on #862
The instructions state what the commits should have. Making a commit is universal.

[2020-12-22 09:20] mohitmv opened #875 "Can you also add the command to compile/run each of the program ?"
Can you also add the command to compile/run each of the program in each language ?

And add couple of line of documentation on - What needs to be installed to compile/run this. (Possibly a github profile of compiler or 'brew install xyz' like commands for linux, macOS and windows.

[2020-12-22 11:19] Anirudh789 opened #876 "Security"
Know the definition of Security and how secure you app from cyber attacks

[2020-12-22 11:49] Richienb commented on #876
@Anirudh789

Security: _the state of being free from danger or threat._

Just use Cloudflare and be smart about authentication and handling databases.

[2020-12-22 11:49] #876 closed

[2021-01-13 00:21] KripC2160 opened #881 "Confusion with Hello World for GDscript"
https://github.com/leachim6/hello-world/blob/664c1309c2a82c01f8affc4243c13d6bc74227aa/g/gdscript.gd#L4

I am a little confused with the GDscript version since the code for the GDscript sets the texts for the label entity when there is a `print()` function available which shows up in the debug console when you run the program. I feel like using `Node` instead of `Label` and `print("Hello world")` w

[2021-01-13 00:22] KripC2160 opened #882 "suggestion for change in gdscript"
https://github.com/leachim6/hello-world/blob/664c1309c2a82c01f8affc4243c13d6bc74227aa/g/gdscript.gd#L4

I am a little confused with the GDscript version since the code for the GDscript sets the texts for the label entity when there is a `print()` function available which shows up in the debug console when you run the program. I feel like using `Node` instead of `Label` and `print("Hello world")` w

[2021-01-13 01:58] Richienb commented on #882
Move to #881

[2021-01-13 01:58] #882 closed

[2021-01-13 01:59] Richienb commented on #881
PR welcome.

[2021-01-18 23:04] raiph commented on #862
Hi @Richienb,

In a comment above you linked to https://github.com/leachim6/hello-world/blob/master/CONTRIBUTING.md

It gives me a 404.

I found several references to the above, but I suspect they should be:

https://github.com/leachim6/hello-world/blob/master/contributing.md

[2021-01-19 12:49] #862 closed

[2021-01-20 13:26] Richienb opened #891 "Removing spoken languages?"
Since spoken languages aren't computer languages, should they be removed?

[2021-01-22 14:29] Adirael666 opened #892 "Hello_world"

[2021-01-22 15:07] #892 closed

[2021-01-29 17:30] arya2910 commented on #891
indeed spoken languages should be included .since programming languages is somewhere between spoken language use by users and binary code understand by computers it gives us platform to connect user and computer directly. programming languages allows us to reason about their syntax and their grammar rules, the semantics of certain expressions, and so on.

[2021-01-30 05:15] arya2910 commented on #891
Indeed!! spoken language should be included. It provides a base to programming languages. since programming languages is the way to connect the spoken language(use by users) to binary code(understands by computer). we made programming languages with the help of spoken languages only and its easier to reason the grammars and syntax of programming languages.

[2021-02-02 19:51] akshaytejus commented on #875
A documentation with the requirements for each language should do it

[2021-02-05 18:36] Falcko666 opened #906 "Hack-face"

[2021-02-06 00:41] #906 closed

[2021-02-10 14:48] Sd-Shivam commented on #881
actually you are not assigning any area on window frame to display the text

use Richtextlabel to show the text on the display.
then try this script
extends RichTextLabel
func _ready():
   self.add_text("Hello World")

i hope it will be helpfull😊

[2021-02-10 19:24] Richienb commented on #881
PR welcome

[2021-02-11 00:18] ThobaniTeeh opened #908 "Win R5000"

[2021-02-11 00:55] #908 closed

[2021-02-13 04:02] eitan-j opened #909 "Any info on brainfuck-2d?"
I can't find any info about [brainfuck-2d](../blob/master/b/brainfuck-2d.bf2d). All I could find was this [page](http://forums.purebasic.com/german/viewtopic.php?f=2&t=2949), which references a webpage that no longer exists. Other than that one page and this repo, I could find nothing about brainfuck-2d.

[2021-02-13 04:07] eitan-j commented on #909
Nevermind, I found it on the [wayback machine](https://web.archive.org/web/20051218023314/http://www.freakx.net/bf2d/).

[2021-02-13 04:07] #909 closed

[2021-02-16 06:47] KripC2160 commented on #881
Oh, I meant by Debug Console since `print("hello world")` shows up in the debug console instead of the screen. If we are talking about displaying on-screen then Label and Rich Text Label would be suited.

[2021-02-17 13:06] frasca617 opened #917 "Ip cAmera and netowork setup"

[2021-02-17 13:08] frasca617 opened #918 "Cam security"

[2021-02-17 14:10] frasca617 opened #919 "Network code"

[2021-02-17 22:18] Richienb commented on #917
We don't do that here

[2021-02-17 22:18] #917 closed

[2021-02-17 22:20] frasca617 commented on #917
Don't do what I did this by mistake

[2021-02-17 22:21] #919 closed

[2021-02-17 22:21] #918 closed

[2021-02-20 10:49] LeDuke-AS opened #926 "Add French file"
The repository lacks a French file

[2021-02-20 11:06] Richienb commented on #926
PR welcome

[2021-02-23 16:15] vmyu opened #932 "Python in readme.md leads to a broken link (Page not found)"
**Steps to reproduce:**
1) Navigate to readme.md
2) Scroll down until you see Python
3) Click Python [(direct link)](https://github.com/leachim6/hello-world/blob/master/p/Python.py)

Expected result: Users should be directed to a hello world example.

Actual result: I am linked to the '404: This is not the webpage you are looking for' page

[2021-02-23 16:16] vmyu commented on #932
I have submitted a pull request to fix this issue #931

[2021-02-26 09:56] #926 closed

[2021-02-28 00:22] Ronald092 opened #936 "M"

[2021-02-28 02:45] #936 closed

[2021-03-14 14:58] d1snin commented on #932
Same for `Android` and `Haskell`

[2021-03-26 00:09] Guest257351 commented on #799
`.bat` is more commonly used than `.cmd`

[2021-04-04 02:02] MrBrain295 commented on #790
Is this tracker up to date?

[2021-04-04 02:07] Richienb commented on #790
Just updated it.

[2021-04-04 02:21] Richienb commented on #932
These have since been fixed.

[2021-04-04 02:21] #932 closed

[2021-04-04 09:30] Guest257351 commented on #799
Never heard of them, I'll go check it out, sounds cool

[2021-04-04 12:13] MrBrain295 opened #952 "Seprate Folder for Spoken Languages"
Separate Folder for Spoken Languages. Called "Spoken" maybe.

[2021-04-04 12:34] frasca617 commented on #799
Sorry guys still kinda new at this bare with me

On Sun, Apr 4, 2021 at 5:30 AM Luke Nicholls ***@***.***>
wrote:

--
Anthony

[2021-04-04 18:34] MrBrain295 commented on #790
ZPL is in the repository

[2021-04-05 12:13] MrBrain295 commented on #790
Common Intermediate language is all ready done just shortened to CIL.

[2021-04-05 12:28] MrBrain295 opened #956 "GitHub Actions"
Maybe there could be a GitHub actions bot that when a pull request was made it could say something like “Thanks for your PR be sure to have updated the readme if need be”.

[2021-04-05 12:29] Richienb commented on #956
PR welcome to add a Pull request template with this sort of message

[2021-04-05 12:30] MrBrain295 commented on #956
Ok

[2021-04-05 13:42] #956 closed

[2021-04-05 13:45] Richienb commented on #790
Thanks for noticing! Updated.

[2021-04-06 03:00] Guest257351 commented on #799
I checked it out and added a pull request

[2021-04-06 12:42] MrBrain295 opened #966 "GitHub pages"
Maybe there could be a simple Jekyll theme GitHub pages site for this repository with  the reaadme embedded. hello-world.github.it isn’t taken.

[2021-04-07 05:12] Richienb commented on #966
In my opinion, the GitHub readme is already good enough and we don't need a mirror that just lists them.

[2021-04-07 12:03] #966 closed

[2021-04-07 22:46] MrBrain295 opened #974 "Master to Main"
Mabey @Richienb could make a new branch call it main and set it as main branch and delete master. To be more inclusive.

[2021-04-08 00:58] MrBrain295 commented on #790
C* is [here](http://helloworldcollection.de/#C*)

[2021-04-08 06:20] Richienb commented on #974
@leachim6 Could you [rename](https://docs.github.com/en/github/administering-a-repository/renaming-a-branch) the `master` branch to be `main`

[2021-04-17 01:07] MrBrain295 commented on #790
I already added C*

[2021-04-17 13:04] MrBrain295 commented on #881
I asked this on godot contributers chat and they said the simplest way is to do “print(“Hello World”)”

[2021-04-17 13:12] MrBrain295 commented on #881
Also JavaScript prints it in the console instead of an alert so I don’t see a problem with gdscript printing in the console

[2021-04-17 13:41] #881 closed

[2021-04-18 13:12] MrBrain295 commented on #790
I added autolusp

[2021-04-18 19:35] MrBrain295 commented on #790
@Richienb how did you find all these languages most I can’t find anywhere?

[2021-04-19 12:31] MrBrain295 commented on #790
like c-- or bytebyte jump

[2021-04-19 12:33] Richienb commented on #790
https://en.wikipedia.org/wiki/List_of_programming_languages

[2021-04-20 22:28] MrBrain295 opened #990 "In the repository description, change `CHANGELOG.md` to `changelog.md`"
In the description "CONTRIBUTING.md" needs to be "contributing.md". @leachim6

[2021-04-20 22:28] MrBrain295 commented on #990
needs "waiting for leachim6" label

[2021-04-21 12:17] MrBrain295 commented on #790
I did PeopleCode

[2021-04-21 21:50] MrBrain295 commented on #790
I added Dog

[2021-04-24 12:37] MrBrain295 opened #996 "Remove Comments"
Should I make a pr that removes the comments in the code (unless it’s crediting the creator).

[2021-04-24 12:38] Richienb commented on #996
Which files contain comments?

[2021-04-24 12:38] MrBrain295 commented on #996
Some assembly files

[2021-04-24 12:40] MrBrain295 commented on #996
Like this one [https://github.com/leachim6/hello-world/blob/master/a/Assembler%20FASM%20DOS.asm](https://github.com/leachim6/hello-world/blob/master/a/Assembler%20FASM%20DOS.asm)

[2021-04-24 12:49] MrBrain295 commented on #996
also a bunch don't even print "Hello World"

[2021-04-25 13:53] MrBrain295 opened #1000 "Assembly files"
Some assembly files have comments, some loop for ever, on my pi 4 the arm assembly doesn’t work so Edit: see #1010, the others might need tested and a lot don’t even print “Hello World” (see #999)

[2021-04-27 15:28] Richienb commented on #996
Sure

[2021-04-28 19:17] MrBrain295 commented on #790
I added o:XML

[2021-04-28 20:34] MrBrain295 commented on #790
Not eXactly C requires 2 files so should I make a folder inside "n" to do this? @Richienb

[2021-05-04 11:53] MrBrain295 commented on #293
@thathexa are you still working on this?

[2021-05-06 23:45] abubakrkaleel2 opened #1007 "New project"

[2021-05-07 04:54] #1007 closed

[2021-05-07 12:35] MrBrain295 commented on #790
@Richienb LillyPond is done

[2021-05-08 14:57] #996 closed

[2021-05-11 21:30] MrBrain295 commented on #732
@Richienb shouldn’t this be closed?

[2021-05-12 21:51] MrBrain295 commented on #729
@Richienb would this be spoken on programming?

[2021-05-13 10:57] exellian commented on #729
I think because you as a human have to do every step and not the computer this is probably not considered as programming. Therefore I will close this issue

[2021-05-13 10:57] #729 closed

[2021-05-13 20:51] MrBrain295 commented on #729
@exellian yeah

[2021-05-13 20:52] MrBrain295 commented on #891
@Richienb shouldn’t this be closed?

[2021-05-18 21:21] MrBrain295 commented on #732
@Richienb or do you consider it a language?

[2021-05-18 21:24] Richienb commented on #732
Yes

[2021-05-18 21:24] #732 closed

[2021-05-19 21:58] MrBrain295 commented on #881
@Richienb the “help needed” label needs removed

[2021-05-19 22:00] MrBrain295 commented on #733
@Richienb the “help needed” label needs removed

[2021-05-19 22:02] MrBrain295 commented on #571
@Richienb the “help needed” label needs removed

[2021-05-20 15:06] rccarlson commented on #974
Nobody is offended by `master` and it's traditional. Leave it as `master`.

[2021-05-20 20:04] Richienb commented on #974
They *are*.

https://www.wired.com/story/tech-confronts-use-labels-master-slave/
https://insights.dice.com/2020/06/16/developers-debate-deleting-master-slave-code-terminology/

https://www.independent.co.uk/life-style/gadgets-and-tech/news/github-master-slave-slavery-whitelist-language-inclusive-a9568576.html

[2021-05-20 20:16] MrBrain295 commented on #974
@rccarlson that is why I made the issue

[2021-05-25 12:37] MrBrain295 commented on #1000
#1003 removes comments.

[2021-05-29 19:35] MrBrain295 commented on #790
i get mine from https://github.com/knightking100/hello-worlds/blob/master/LANGUAGES.md

[2021-05-30 05:28] #799 closed

[2021-06-01 00:01] MrBrain295 opened #1044 "Migrate to double quotes"
@Richienb should I make a pr changing single quotes to double quotes?

[2021-06-09 14:17] MrBrain295 opened #1060 "H🌍"
I don’t know how I should implement this language because it cannot print “Hello World”. Should I do “Hello, World!”? https://esolangs.org/wiki/H%F0%9F%8C%8D

[2021-06-10 03:03] Richienb commented on #1060
Yes

[2021-06-10 05:06] abt8601 commented on #790
Octave has been done in #794.

[2021-06-10 15:37] MrBrain295 opened #1065 "Hello Worlds that require multiple files"
Should I create a sub-folder or just not do it? An example of one is NotXactlyC

[2021-06-12 04:22] #1060 closed

[2021-06-18 01:44] MrBrain295 opened #1079 "Folders"
How should I implement this https://esolangs.org/wiki/Folders?

[2021-06-25 15:19] MrBrain295 commented on #790
@Richienb [φ](https://esolangs.org/wiki/%CE%A6) is missing

[2021-06-30 18:15] Megha2201 opened #1102 "This is My first program...!!"

[2021-07-01 00:22] #1102 closed

[2021-07-03 10:28] Richienb commented on #1079
Create a folder in `f` called `Folders` and add the folders within it.

[2021-07-03 18:08] MrBrain295 commented on #1079
Ok 👍

[2021-07-23 16:02] Richienb commented on #1065
Depends on how many and what each one does. Go for individual subfolders for now.

[2021-07-23 17:11] MrBrain295 commented on #1065
👍

[2021-07-27 12:52] HurtGub opened #1115 "Hello-world"
It is what it is

[2021-07-27 12:52] HurtGub commented on #1115
Ok

[2021-07-28 22:53] MrBrain295 commented on #1115
@Richienb this needs closed.

[2021-07-29 02:10] WALEEDALAREQI commented on #1115
بتاريخ الخميس، 29 يوليو 2021، جاء من MrBrain295 ***@***.***>:

[2021-07-29 09:24] DevdarshanMishra opened #1119 "hhh"
Zzzxx

[2021-07-29 12:37] MrBrain295 commented on #1119
@Richienb this needs closed.

[2021-07-29 14:00] Happyplus1 opened #1121 "Hello world"
Hello

[2021-07-29 18:36] MrBrain295 commented on #1121
@Richienb this needs closed.

[2021-08-02 13:42] onion108 opened #1128 "Add FakeAssembly"
That's great! I even found Wenyan in there!
And I'm going to develop an useless assembly-like language called `FakeAssembly`.
I've done with output.
here is the hello world in FA:
[code]

[2021-08-02 13:44] #1121 closed

[2021-08-02 13:44] #1119 closed

[2021-08-02 13:45] #1115 closed

[2021-08-02 16:48] MrBrain295 commented on #1128
@onion108 this needs to be be but in pull request form, have the issue closed and have  link to the compiler.

[2021-08-03 00:36] onion108 commented on #1128
OK. I'm gonna upload my compiler(actually, interpreter).
And... could you tell me how to upload a folder(directory) to the github repository please? thanks.

[2021-08-03 01:42] MrBrain295 commented on #1128
@onion108 sorry I’m not understanding are you trying to upload the interpreter to one of your GitHub repository’s or this one? (I can give an explanation after this question is answered.)

[2021-08-03 01:44] MrBrain295 commented on #1128
@onion108 this also should be renamed to a more explanatory title.

[2021-08-03 02:01] onion108 commented on #1128
Help me to  rename (lol because i'm not good at creating titles.)

And, I mean , I want to know how to upload a folder to the github repository. Any repository can be an example. I usually will add folders manually, but I found that it's not a good way when the structure of the project is too complex.
(Well, I'm not very good at English's grammar. So hope you can understand ;P)

[2021-08-03 02:01] onion108 commented on #1128
Help me to  rename (lol because i'm not good at creating titles.)

And, I mean , I want to know how to upload a folder to the github repository. Any repository can be an example. I usually will add folders manually, but I found that it's not a good way when the structure of the project is too complex.
(Well, I'm not very good at English's grammar. So hope you can understand ;P)

[2021-08-03 03:15] onion108 commented on #1128
Yeah, I'm going to create a repository for the interpreter but I want to know how to upload a folder first and then I'll create the repository and upload my interpreter(Written in `Swift`) to that repo.

[2021-08-07 05:14] Richienb commented on #1128
After creating a repository, [git clone](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/cloning-a-repository-from-github/cloning-a-repository) it locally, add the folder and then [git commit](https://github.com/git-guides/git-commit) and [git push](https://github.com/git-guides/git-push)

[2021-08-10 03:20] joco-python opened #1129 "Latin language"
Should a Latin language be added. There is a Sanskrit language which is another old language but i cant find Latin

[2021-08-10 14:27] MrBrain295 commented on #1129
Yes

[2021-08-11 20:09] Xingxhao opened #1130 "Hello-World"

[2021-08-11 21:58] MrBrain295 commented on #1130
@Richienb this needs closed.

[2021-08-14 13:36] bradlavell opened #1131 "Build a /hello-world/ Readme file"
Describe yourself

[2021-08-14 13:37] #1131 closed

[2021-08-15 23:33] MrBrain295 commented on #317
@Richienb should I start to work on this?

[2021-08-16 01:57] Richienb commented on #317
Go ahead.

[2021-08-16 02:08] MrBrain295 commented on #317
@Richienb how should I implement this with just a text description below the language (with some HTML styling maybe) or a comment in the language file (if it supports comments).

[2021-08-16 14:06] MrBrain295 commented on #317
@Richienb or in the wiki?

[2021-08-18 11:55] #1130 closed

[2021-08-18 12:18] #891 closed

[2021-08-18 19:04] #1044 closed

[2021-08-24 16:13] Rohullamin-talash opened #1136 "Readme"

[2021-08-24 20:46] #1136 closed

[2021-09-01 06:15] NightMachinary commented on #316
Adding shebang line runners for the languages that support it can be quite helpful.

[2021-09-30 21:42] Msjsilverboy opened #1146 "Great response"
Get a chance to get a new gob in your location

[2021-09-30 21:44] #1146 closed

[2021-10-11 10:32] munnamanoj opened #1154 "Friday"

[2021-10-11 21:10] #1154 closed

[2021-10-30 05:33] wewwwwwww commented on #1129
Hi

[2021-11-02 06:22] Richienb opened #1165 "Conflicts of interest"
In recent times, pull requests have been opened by the authors of the programming language that is being added. Should this conflict of interest be addressed in any way?

[2021-11-02 11:52] MrBrain295 commented on #1165
I thought about this at one point; the only solution I could find would be put something int the readme stating that the creator of a language can’t add their own language.

[2021-11-02 12:01] #1165 closed

[2021-11-04 02:10] MrBrain295 commented on #1165
@Richienb should I revert prs that don’t follow this but have already been merged?

[2021-11-04 02:16] Richienb commented on #1165
Yes, but only for those which have been added in recent times. Some *may* have historical significance.

[2021-11-26 03:18] Richienb commented on #1129
Fixed by https://github.com/leachim6/hello-world/pull/1159

[2021-11-26 03:18] #1129 closed

[2021-12-02 03:25] HUGOSKISS opened #1176 "​<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" ​ "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"​> ​ ​<​html​ ​xmlns​="​http://www.w3.org/TR/xhtml1​" ​xml:lang​="​en​" ​lang​="​en​"​> ​ ​<​head​> ​ ​<​title​>​Hello World​</​title​> ​ ​<​meta​ ​charset​="​UTF-8​"/> ​ ​</​head​> ​ ​<​body​> ​ ​<​p​>​Hello World​</​p​> ​ ​</​body​> ​ ​</​html​>"

[2021-12-02 03:25] HUGOSKISS opened #1177 "​dlroW olleH(@)"

[2021-12-02 03:28] HUGOSKISS opened #1178 "Facebookhackhash"

[2021-12-02 03:29] HUGOSKISS commented on #1178
Facebooklogin

[2021-12-02 13:06] #1178 closed

[2021-12-02 13:06] #1177 closed

[2021-12-02 13:06] #1176 closed

[2021-12-16 17:32] Tyler887 commented on #952
This issue is inactive and should be closed now!<br>Records: 0 comments, 0 users that made activity to this issue, 0 linked pulls, no assignees, 0% done

Also, can you describe your issue further? Be sure you are a Collaborator of this repo, so you can do this **yourself**!
<small>Notifying owner of repo with @leachim6.</small>

[2021-12-22 08:44] EiEddie opened #1190 "C++.cpp: main function has no return value"
The main function should return 0.
Add
[code]
to line 6.

[2021-12-22 08:53] Richienb commented on #1190
At some point down the line I believe this line was dropped because it was no longer required, not sure though.

[2021-12-23 21:20] arcturus140 commented on #952
you mean "natural languages"

[2021-12-23 21:34] arcturus140 commented on #316
some compiler support multiple languages. For languages that cannot be compiled, simply open an issue. Nobody can tell when we'll see a PR for esolangs :grin:

[2021-12-23 22:01] MrBrain295 commented on #952
what's the difference?

[2021-12-24 00:30] arcturus140 commented on #952
spoken language is just spoken, i.e. the sounds produced when talking. Natural languages are formally better defined, consisting of symbols and rules.

[2021-12-24 10:16] Potherca commented on #790
I haven't gotten around to automating things yet, and the current version is a couple of years out of date, but would something like this: https://blog.pother.ca/hello-world-cross-reference/ be useful? (I was planning on improving it this holiday anyway...)

[2021-12-24 13:38] MrBrain295 commented on #790
Wow, I’ll look into it.

[2021-12-25 01:56] Richienb commented on #790
Sorry for the late response - I would go with a folder.

[2021-12-25 10:43] Potherca commented on #790
@MrBrain295 The idea was to create a list of which project has which language and then exchange "Hello World" solutions between projects for those that are missing (to prevent duplicate work). Because of personal circumstances (and then COVID) I've not had time to revisit the project, but it is very much at the top of the list for my hobby projects this Xmas.

[2022-01-06 21:52] Tyler887 commented on #1178
Hey, delete it, @leachim6

[2022-01-09 23:14] Adeljg opened #1210 "Hey"

[2022-01-10 03:16] #1210 closed

[2022-01-12 18:00] Tyler887 commented on #1210
It's actually possible to delete issues

[2022-01-12 19:52] MrBrain295 commented on #1210
I don’t see that option.

[2022-01-12 21:58] Tyler887 commented on #790
You forgot [fancade](https://facade.com)

[2022-01-13 18:43] Tyler887 commented on #680
In order to turn off the wiki, you need to do so in your repository settings.

[2022-01-15 00:59] Sashanktony opened #1218 "Hello world"
This is the first and Basic program that one programmer learns

[2022-01-15 01:00] #1218 closed

[2022-01-15 22:51] calgary34 opened #1220 "Wenyan is duplicated"
There is both 文言.wy and Wenyan.wy.

[2022-01-15 22:57] calgary34 opened #1221 "Rickroll link in Readme doesn't work"
![image](https://user-images.githubusercontent.com/51468959/149640226-a5639dfe-4167-46ca-a61d-b61cf1550eaa.png)

[2022-01-16 08:45] Richienb commented on #1221
https://github.com/leachim6/hello-world/commit/a5deb778ac9756b63bd3fd4ba7c71bea1d854890

[2022-01-16 08:45] #1221 closed

[2022-01-17 16:46] Tyler887 commented on #680
You can invite him to go to the settings tab and uncheck "Wikis". Boom. The wiki is deleted. To invite him, I recommend you to email mike@mikedonaghy.org.

[2022-01-17 19:02] MrBrain295 commented on #680
I did at one point.

[2022-01-20 05:23] Richienb commented on #1220
PR welcome to remove `Wenyan.wy`

[2022-01-20 05:48] calgary34 commented on #1210
Only @leachim6 can delete issues.

[2022-01-20 15:59] #1220 closed

[2022-01-20 23:20] calgary34 opened #1255 "Put missing languages in wiki"
Currently, the wiki section is empty so maybe the missing languages list could be put there. That way, if someone adds a language, it would be easier to edit the list.

[2022-01-20 23:26] MrBrain295 commented on #1255
I like the idea. @Richienb what do you think?

[2022-01-21 01:34] ThePeeps191 commented on #1255
yes, that would be good

[2022-01-21 20:37] calgary34 commented on #1255
@MrBrain295 Can I go ahead and do it?

[2022-01-22 03:12] Richienb commented on #1255
Sure

[2022-01-22 03:27] MrBrain295 commented on #1255
I think it’s settled then.

[2022-01-22 03:27] #1255 closed

[2022-01-22 03:27] #680 closed

[2022-01-22 03:29] #1190 closed

[2022-01-22 16:37] MrBrain295 commented on #790
Moved to the wiki section.

[2022-01-22 16:37] #790 closed

[2022-01-22 18:47] calgary34 commented on #790
This issue can now be unpinned.

[2022-01-23 13:52] #1000 closed

[2022-01-23 18:44] NinjaxVarun opened #1277 "Yeah"

[2022-01-23 19:14] calgary34 commented on #1277
@MrBrain295 Close this please

[2022-01-23 21:02] MrBrain295 commented on #1277
Yeah.

[2022-01-23 21:02] #1277 closed

[2022-01-23 21:11] ThePeeps191 opened #1279 "Kivy Also has Its Own Language, `.kv`"
We have the Kivy module in Python: `Kivy.py`, but Kivy also has its own language: Kivy with the `.kv` extension. Should we make any changes?

language: https://kivy.org/doc/stable/guide/lang.html

[2022-01-23 21:15] #1128 closed

[2022-01-23 21:16] MrBrain295 commented on #1279
Is the code any different?

[2022-01-23 21:18] ThePeeps191 commented on #1279
yes

[2022-01-23 21:18] ThePeeps191 commented on #1279
.kv is its own language, VERY different from python

[2022-01-23 21:20] ThePeeps191 commented on #1279
it's called the "Kivy design language"

[2022-01-23 21:21] ThePeeps191 commented on #1279
example:
[code]

(view https://www.techwithtim.net/tutorials/kivy-tutorial/the-kv-design-language-kv-file/)

[2022-01-23 21:21] ThePeeps191 commented on #1279
and https://kivy.org/doc/stable/api-kivy.uix.label.html

[2022-01-23 21:29] MrBrain295 commented on #1279
Then we should replace the Python lib with the language.

[2022-01-23 22:41] calgary34 commented on #1279
The language is called Kv, not Kivy, as can be seen on the website.

[2022-01-23 22:52] ThePeeps191 commented on #1279
as quoted:
[code]

[2022-01-23 22:53] ThePeeps191 commented on #1279
its also called the kivy language

[2022-01-23 22:57] calgary34 commented on #1279
@ThePeeps191 but the correct name is still KV

[2022-01-23 22:58] calgary34 commented on #1279
Also, I think the Python one should be kept. Kivy (the Python module) and KV (the language) are different things.

[2022-01-23 23:32] calgary34 opened #1281 "Add a GitHub pages website"
Perhaps there could some sort of GitHub pages companion website in a `gh-pages` branch.

[2022-01-23 23:36] MrBrain295 commented on #1281
This has been discussed multiple times (#1 and #996) and we've decided against it.

[2022-01-23 23:36] #1281 closed

[2022-01-24 03:02] #1079 closed

[2022-01-25 12:49] #1279 closed

[2022-01-25 15:03] Tyler887 commented on #875
Try Git. Select your OS:

* [macOS](https://git-scm.com/download/mac) (Most Mac machines already have git)
* [Windows](https://gitforwindows.org) (also available on [`git-scm`](https://git-scm.com/download/win))
* [Linux/Unix](https://git-scm.com/download/linux) (Most Linux and Unix machines already have git)

[2022-01-26 13:00] #1065 closed

[2022-01-27 22:52] ThePeeps191 opened #1285 "Repo about writes "CONTRIBUTING.md", not "contributing.md""
The repo about text writes "CONTRIBUTING.md for contribution instructions!", which should be `contributing.md`. It should be fixed.

[2022-01-28 00:08] MrBrain295 commented on #1285
#990

[2022-01-28 00:08] #1285 closed

[2022-01-28 01:18] ThePeeps191 commented on #1285
ooooof

[2022-01-28 16:56] 1MuhammadYahya commented on #952
yea that would certainly be better

[2022-01-28 21:17] calgary34 commented on #680
The missing languages list is now in the wiki.

[2022-02-01 11:25] CyberPotat42 opened #1296 "Divide languages into categories"
Create a new .md file or wiki page with language categorization

For example:
* Programming languages
* Esoteric programming languages
* Spoken languages

[2022-02-01 12:59] MrBrain295 commented on #1296
I like the idea. @Richienb what do you think.

[2022-02-01 13:00] Richienb commented on #1296
Depends if some exist in the grey area.

[2022-02-01 13:01] Richienb commented on #1296
Also, it would be wasteful to re-catalogue all the languages in a new file since we'd have to update that every time.

[2022-02-03 16:19] MrBrain295 commented on #875
Some esolangs are a proof-of-concept and don't have an interpreter/compiler.

[2022-02-03 16:19] #875 closed

[2022-02-03 16:21] MrBrain295 commented on #317
We could put it in the wiki.

[2022-02-03 19:05] Richienb commented on #317
Or we could just put it in the readme beside the language name. We'd need to update the script though to preserve the descriptions.

[2022-02-07 16:16] MrBrain295 commented on #1296
@Richienb @CyberPotat42 do any of you have an idea on how we could get the `upade_list.py` script to keep them in their categories if we do go through with this idea?

[2022-02-09 10:15] sastofficial opened #1312 "HTML file is not the simplest"
[The HTML File](https://github.com/leachim6/hello-world/blob/master/h/HTML.html) looks like this
[code]
When the simplest way to do it is
`<p>Hello World</p>`

[2022-02-09 10:17] sastofficial commented on #1296
@Richienb maybe we can make it optional to categorize the language. and the uncategorized languages arent in the new document

[2022-02-09 10:35] Richienb commented on #1312
1. That's still not the simplest way.
2. The boilerplate is actually useful for people getting started.

[2022-02-09 10:35] #1312 closed

[2022-02-09 19:31] CyberPotat42 commented on #1296
I think this can be implemented using issue #317 main idea: short introduction for ~~every~~ most languages (you can make it optional as @sastofficial suggested). In the short description, the person who adds the language will also indicate its category, and then `upade_list.py` will scan its short description, parse the category from there, and add the language to this category

[2022-02-11 00:29] calgary34 commented on #974
@MrBrain295 leachim6 has done it already. Please close this issue.

[2022-02-11 02:45] leachim6 commented on #817
Hey sorry all, I didn't realize you folks needed me to do these things and I had the email notifications switched off!
I'll be more wary of this in the future!

[2022-02-11 03:14] Richienb commented on #990
[code]

[2022-02-11 03:14] MrBrain295 commented on #974
@leachim6 thanks!

[2022-02-11 03:45] Richienb commented on #817
Hasn't been added?

[2022-02-11 16:06] MrBrain295 commented on #990
@leachim6 the repo description is under the "About" on the sidebar when you go to a GitHub repo.

[2022-02-11 18:28] leachim6 commented on #990
Done!

[2022-02-11 18:28] #990 closed

[2022-02-12 03:41] Sushilranakoti opened #1316 "Git hub"

[2022-02-12 04:11] #1316 closed

[2022-02-14 11:24] leachim6 commented on #952
This feels out of scope, if people want to know how to literally say "hello world" in human spoken languages they can just use google translate? 🤷‍♂️that's my view

[2022-02-14 11:25] leachim6 commented on #817
I'm not really clear what adding this tag does, would adding "hacktoberfest" in Februrary 2022 sorta miss the boat? What am I missing here

[2022-02-14 11:27] Richienb commented on #817
It's in anticipation for October

[2022-02-14 11:33] Richienb commented on #817
Adding the tag is a thing we should just set and forget right now

[2022-02-14 11:59] arcturus140 commented on #952
I think the project has already outgrown a little its original purpose, since some examples are more libraries than computer languages. I'm not sure where this project is going but this feature proposed here would decrease its usefulness to me.

[2022-02-15 04:28] leachim6 commented on #817
@Richienb thanks for the explanation, tag's been added!

[2022-02-15 04:28] #817 closed

[2022-02-15 17:32] Apollyon094 opened #1322 "Fix Malbolge file"
First off, Malbolge programs use the .mb extension.
Second, this prints “Hello World” in half as many bytes.
`KD08YCM5XX42WlkzMlZ4LzRScyswTm8tJkprKSJGaH18QmN5Pyx2TnpdS1olb0c0VVVTMC9ALWVNYyg6Jzg= `
It’s in base64 since it keeps messing with Github’s markdown.

[2022-02-19 16:16] MrBrain295 commented on #1322
@Apollyon094 if you want to fix Malbolge you should make a pull request.

[2022-02-22 15:14] MrBrain295 commented on #1322
@Apollyon094 is the the code you intended to share (=<`#9]~6ZY32Vx/4Rs+0No-&Jk)"Fh}|Bcy?,vNz]KZ%oG4UUS0/@-eMc(:'8 ?

[2022-02-24 01:15] leachim6 commented on #952
Yeah the project has grown way outside of what I started over 10 years ago here on Github.
I'd like to gets some more feedback from the contributors. I think spoken languages should be forked into a different project.

[2022-02-24 01:33] MrBrain295 commented on #952
@leachim6 would you like to make the fork or should I?

[2022-02-24 22:13] MrBrain295 commented on #952
@leachim6 I make a repo for spoken languages [here](https://github.com/MrBrain295/hello-world).

[2022-03-05 12:44] Tyler887 commented on #316
You can clone the repo using `git clone https://github.com/leachim6/hello-world.git`.

If you do not have Git, [download it](https://git-scm.com/downloads).

[2022-03-05 23:54] Tmdm0707 opened #1331 "Hello-world"
Everything

[2022-03-05 23:56] #1331 closed

[2022-03-09 10:33] Tomticaa commented on #317
like this

[2022-03-13 12:58] #1322 closed

[2022-04-15 05:49] Sashanktony commented on #1218
This first program have different ways that one programmer can obtain through., each one get it through phyton in one line and in c by a couple of lines

[2022-04-21 01:45] Yash2492 opened #1347 "Hello-world"

[2022-04-21 01:46] #1347 closed

[2022-04-24 07:43] leachim6 commented on #952
Hey @MrBrain295 sorry I just got around to this, I've been really busy! I love the new repo, perhaps you could change it to something like hello-world-spoken or some such? What are your thoughts

[2022-04-24 13:13] MrBrain295 commented on #952
Done!

[2022-04-24 13:14] MrBrain295 commented on #952
Ok, I renamed it.

[2022-05-02 09:21] lquenti opened #1350 "Coq seems to be missing"
Coq is the most used theorem prover. I haven't found it in the repo.

I'd love to do a PR myself, but I haven't had the time to learn it yet and don't just wanna steal code. So up for grabs to anyone who wants!

[2022-05-06 11:31] Santhoshmrs002 opened #1353 "Hello-world"

[2022-05-07 19:57] GoldenretriverYT opened #1354 "Many files not supported by NTFS"
The contributing.md states that files should not use characters blocked by windows, but similiar looking characters. However, files like https://github.com/leachim6/hello-world/blob/main/%23/*%3E%3C%3E didn't do that and therefore it is impossible to clone this repo to a Windows computer

[2022-05-15 09:08] leachim6 commented on #1354
I noticed this myself, this will need to be reworked, thank you for pointing it out.

[2022-05-15 13:07] MrBrain295 opened #1357 "Quality of Programs"
I've notices that many of the Hello World programs don't run or aren't of high quality code, so I've created a list of languages that can check the boxes when the language is either fixed or checked.
[ ][!](%23/%21)
[ ][!@#$%^&*()_+](%23/%21%40%23%24%25%5E%26%E2%88%97%28%29_%2B)
[ ][():;#?!](%23/%28%29%CB%B8%3B%23%EF%BC%9F%21)
[ ][*><>](%23/%2A%3E%3C%3E)
[ ][0(nop^)](%23/0%28nop%5E%29)
[ ][0587](%

[2022-05-16 02:33] leachim6 commented on #1357
We definitely need to do some housekeeping around here. I'm sorry I've been out of the loop for so long but I'm definitely down to work on this. Thanks for taking the initiative @MrBrain295 👍🏻

[2022-05-30 04:40] JallaJenkins opened #1367 "Can't checkout current commit on PC"
I'm extremely new to programming and git so take my comments with some grains of salt.

As far as I can tell, the current repository cannot be checked-out on Windows 10 because of some invalid paths. When I try to checkout I get the following error:

error: invalid path '#/*><>'
error: invalid path '#/><>'
error: invalid path 'a/AnalF*ck.af'
error: invalid path 'l/Lost.???'

Any ideas for how to f

[2022-06-01 00:40] Richienb commented on #1367
Duplicate of https://github.com/leachim6/hello-world/issues/1354

[2022-06-01 00:40] #1367 closed

[2022-07-05 07:04] XYZscratcher opened #1374 "没有C#"
# C#
[code]
# 或者
[code]

[2022-07-05 08:09] Richienb commented on #1374
Already added: https://github.com/leachim6/hello-world/blob/main/c/CSharp.cs

[2022-07-05 08:09] #1374 closed

[2022-07-10 03:20] seanpm2001 opened #1377 "Apache Thrift seems to be missing"
Apache Thrift seems to not be included in this repository. I checked both in `/a/` and `/t/`

I won't add it myself, it is up for grabs for whoever chooses to add it.

[2022-07-10 03:36] MrBrain295 commented on #1377
If you want you can add it to the missing languages list on the wiki.

[2022-07-10 04:38] seanpm2001 commented on #1377
I have updated the Wiki, but I will leave this issue open for now until the language is added, or if told otherwise.

[2022-07-10 11:24] MrBrain295 commented on #1377
I don’t see a reason for having it on the wiki and having an issue for it so I’m closing it.

[2022-07-10 11:24] #1377 closed

[2022-07-16 04:33] techstuff1971 opened #1379 "Error Closing Repository"
Hi, I just tried cloning the repository and got the following error:

`$ git clone https://github.com/leachim6/hello-world.git
Cloning into 'hello-world'...
remote: Enumerating objects: 7534, done.
remote: Counting objects: 100% (498/498), done.
remote: Compressing objects: 100% (290/290), done.
remote: Total 7534 (delta 261), reused 360 (delta 152), pack-reused 7036
Receiving objects: 100% (7534/

[2022-07-16 04:34] Richienb commented on #1379
Duplicate of https://github.com/leachim6/hello-world/issues/1354

[2022-07-16 04:34] #1379 closed

[2022-07-17 11:47] FJay81 opened #1381 ".FJ"
FJay.FJ

out ("Hello World!")

[2022-07-17 12:08] #1381 closed

[2022-08-19 16:43] abt8601 commented on #952
Now that #1356 has been merged, I think this issue can be closed.

[2022-08-19 16:44] #952 closed

[2022-08-22 17:15] sheks02 opened #1392 "Hello, please can you help with materials to learn SE from the scratch, I feel I'm failing in this and I don't want to fail"

[2022-08-26 10:28] FunkyMonk8111 opened #1394 "I am getting this error when trying to pull from git"
Cloning into..
remote: Enumerating objects: 7543, done.
remote: Counting objects: 100% (507/507), done.
remote: Compressing objects: 100% (296/296), done.
remote: Total 7543 (delta 264), reused 370 (delta 154), pack-reused 7036
Receiving objects: 100% (7543/7543), 5.05 MiB | 1.13 MiB/s, done.
Resolving deltas: 100% (3894/3894), done.
error: invalid path '#/*><>'
fatal: unable to checkout working t

[2022-09-06 07:03] MarkusEicher commented on #1394
Hi there. I had the same problem when trying to clone this repository. It seems to be a problem with the checkout because of special characters that prevent this repo to be checked out correctly on a Windows machine. I guess you are using Windows because I had the exact same error message. I was able to clone a fork of this repo from a GitHub user called zzl686. Here is the link to his fork, that

[2022-09-06 08:18] Richienb commented on #1394
Fixed, for now

[2022-09-06 08:18] #1394 closed

[2022-09-17 03:01] Richienb opened #1396 ""한국어" is a written language"
"한국어" (Korean language) should be removed https://github.com/leachim6/hello-world/blob/main/%23/%ED%95%9C%EA%B5%AD%EC%96%B4

[2022-09-17 12:31] #1396 closed

[2022-09-23 01:43] Zacbagans commented on #293
Hi

[2022-10-15 09:46] zacrify opened #1411 "Adding my issue"
Don't come over here

https://github.com/leachim6/hello-world/issues/1411#tasklist-block-b4112e96-27b8-4822-9214-cfae49e1d386

[2022-10-15 10:53] #1411 closed

[2022-10-20 23:14] tonycharles377 commented on #1392
Hi, I would advise you to start with online courses to build your foundation in SE, few examples are ALX, Udacity, and Google  then from there you can decide on which part to specialize in.

[2022-10-21 03:10] #1392 closed

[2022-10-28 22:52] pierrbt commented on #1350
You might use [this hello world program](https://github.com/coq-io/hello-world/blob/master/src/Main.v)

[2022-10-28 22:58] pierrbt commented on #1350
I created a [PR](https://github.com/leachim6/hello-world/pull/1423)